* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  background-color: #f4f6f8;
  color: #1a202c;
}

button {
  cursor: pointer;
  border: none;
}

input {
  outline: none;
}
